.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.wrapper {
  min-height: 100vh;
}

.aside {
  z-index: 0;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 232px;
  flex-shrink: 0;
}
