{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true },
    "project": ["./tsconfig.json", "./tsconfig.node.json"]
  },
  "plugins": ["prettier", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    // Base
    "jsx-quotes": ["error", "prefer-double"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "@typescript-eslint/no-invalid-void-type": "off",
    "@typescript-eslint/array-type": ["warn", { "default": "array-simple" }],
    // Pretier
    "prettier/prettier": "error",
    // React
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    // Import and exports sort
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^node:",
            "^(assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|https|module|net|os|path|punycode|querystring|readline|repl|stream|string_decoder|sys|timers|tls|tty|url|util|vm|zlib|freelist|v8|process|async_hooks|http2|perf_hooks)(/.*|$)"
          ],
          ["^react", "^"],
          ["^(client|server|shared)(/.*|$)", "^\\.", "^.+\\.css$"]
        ]
      }
    ],
    // Disabling using of useLayoutEffect from react
    "react-hooks/exhaustive-deps": ["warn", { "additionalHooks": "useEnhancedEffect" }],
    "no-restricted-imports": [
      "error",
      {
        "name": "react",
        "importNames": ["useLayoutEffect"],
        "message": "\"useLayoutEffect\" causes a warning in SSR. Use \"useEnhancedEffect\""
      }
    ]
  },
  "overrides": [
    {
      "files": "src/client/**/*",
      "extends": "plugin:react-hooks/recommended"
    }
  ],
  "ignorePatterns": ["dist", "node_modules"]
}
