.ui-icon {
	&[data-rotate] {
		transform: rotate(attr(data-rotate));
	}
}

.ui-icon.variant {
  &--inherit {
    fill: currentcolor;
  }

  &--primary {
    fill: url("#lg-accent-light");

    @media (prefers-color-scheme: dark) {
      fill: url("#lg-accent-dark");
    }
  }

  &--outline {
    fill: var(--color-on-outline);
  }
}

.ui-icon.size {
  &--sm {
    width: 16px;
    height: 16px;
  }

  &--md {
    width: 24px;
    height: 24px;
  }

	&--lg {
    width: 32px;
    height: 32px;
  }

  &--xl {
    width: 48px;
    height: 48px;
  }

  &--xxl {
    width: 112px;
    height: 112px;
  }
}
