@import url('/client/common/styles/media.css');

.wrapper {
  background: var(--gradient-primary);
  padding: var(--space-4) var(--space-5);
  border-radius: var(--border-radius-2);
  color: var(--color-dark-on-background);
}

.title {
  font-size: 38px;
}

.button {
  width: 100%;
  min-width: unset;

  @media (--media-screen-min-mobile) {
    width: unset;
    min-width: 140px;
  }
}
