$positionValue: calc(100% + var(--space-2));

.wrapper {
  position: relative;
}

.activator:hover + .tooltip {
  visibility: visible;
}

.tooltip {
  background: var(--color-on-outline);
  border-radius: var(--border-radius-1);
  color: var(--color-dark-on-background);
  padding: var(--space-2) var(--space-3);
  font-size: var(--font-size-label);
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
}

.variant {
  &_top {
    bottom: $positionValue;
    left: 50%;
    padding-bottom: var(--space-2);
    transform: translateX(-50%);
  }

  &_right {
    top: 50%;
    left: $positionValue;
    padding-left: var(--space-2);
    transform: translateY(-50%);
  }

  &_bottom {
    top: $positionValue;
    left: 50%;
    padding-top: var(--space-2);
    transform: translateX(-50%);
  }

  &_left {
    top: 50%;
    right: $positionValue;
    padding-right: var(--space-2);
    transform: translateY(-50%);
  }
}
