.wrapper {
  overflow: hidden;
  height: 100vh;
  padding: var(--space-3);
  text-align: center;
}

.bg-text {
  position: relative;
  margin-bottom: 64px;
  font-size: 200px;
  font-weight: 700;
  transform: rotate(4deg);
}

.description {
  color: var(--color-on-outline);
  text-align: center;
}
