$paddingTop: 112px;
$paddingBottom: 64px;

.wrapper {
  position: relative;
  max-width: var(--screen-desktop);
  min-height: 100vh;
  padding: 0 var(--space-5);
}

.aside {
  z-index: 0;
  padding: $paddingTop var(--space-4) $paddingBottom 0;
}

.border {
	width: 1px;
	flex-shrink: 0;
	margin-right: 40px;
	background: linear-gradient(to bottom, var(--color-outline-variant) 0%, var(--color-outline-variant) 80%, transparent 100%);
}

.sidebar {
  position: sticky;
  top: $paddingTop;
  width: 232px;
}

.content {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
}
