.wrapper {
  overflow: hidden;
  height: 100vh;
  padding: var(--space-3);
  text-align: center;
}

.bg-text {
  position: relative;
  z-index: -1;
  margin-bottom: 64px;
  font-size: 120px;
  font-weight: 700;
  transform: rotate(4deg);
}

.highlight {
  @media (prefers-color-scheme: dark) {
    position: absolute;
    z-index: -1;
    width: 40vw;
    height: 100px;
    background: var(--gradient-primary);
    filter: blur(140px);
  }
}

.description {
  color: var(--color-on-outline);
  text-align: center;
}
