@import url("@unocss/reset/eric-meyer.css");
@import url("@unocss/reset/sanitize/sanitize.css");
@import url("@unocss/reset/sanitize/reduce-motion.css");
@import url("@unocss/reset/sanitize/system-ui.css");
@import url("@unocss/reset/sanitize/typography.css");
@import url("./vars.css");
@import url("./media.css");

html {
	font-size: var(--font-size-body);
	text-size-adjust: 100%;
}

:root,
body {
	width: 100%;
	min-height: 100vh;
}

body {
	background: var(--color-background);
	color: var(--color-on-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: currentcolor;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

hr {
	all: unset;
	display: block;
}

:focus {
	outline: 0;
}

:focus-visible {
	outline: 3px solid var(--color-primary);
	outline-offset: 3px;
}
