@import url("./atomic.css");
@import url("./media.css");
@import url("./reset.css");
@import url("./vars.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size-body);
	text-size-adjust: 100%;
}

:root,
body {
	width: 100%;
	min-height: 100vh;
}

body {
	background: var(--color-background);
	color: var(--color-on-background);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Noto Sans",
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: unset;
	cursor: pointer;
	text-decoration: none;
}

hr {
	all: unset;
	display: block;
}

:focus {
	outline: 0;
}

:focus-visible {
	outline: 3px solid var(--color-primary);
	outline-offset: 3px;
}

@keyframes autofill {
	to {
		background: inherit;
		color: inherit;
	}
}

input:-webkit-autofill {
	animation-fill-mode: both;
	animation-name: autofill;
}
