@import url("/client/common/styles/media.css");

$ANIMATION_DURATION: 4000ms;

.container {
  position: relative;
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 400px;
  perspective-origin: 50% 40%;
}

.pyramid {
  position: relative;
  width: 100px;
  height: 200px;
}

@keyframes spin {
  0% {
    border-bottom-color: #7a90f0;
    transform: rotateY(0deg) rotateX(30deg);
  }

  /* border-bottom-color: lighten($color; 5%); */
  25% {
    border-bottom-color: #4c69eb;
    opacity: 1;
    transform: rotateY(90deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 5%); */
  25.1% {
    opacity: 0;
  }

  50% {
    border-bottom-color: #3e5eea;
    transform: rotateY(180deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 12%); */
  74.9% {
    opacity: 0;
  }

  75% {
    border-bottom-color: #3e5eea;
    opacity: 1;
    transform: rotateY(270deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 15%); */
  100% {
    border-bottom-color: #7a90f0;
    transform: rotateY(360deg) rotateX(30deg);
  }

  /* border-bottom-color: lighten($color; 5%); */
}

@keyframes spin-bottom {
  0% {
    border-bottom-color: #7a90f0;
    transform: rotateZ(-180deg) rotateY(0deg) rotateX(30deg);
  }

  /* border-bottom-color: lighten($color; 5%); */
  25% {
    border-bottom-color: #4c69eb;
    opacity: 1;
    transform: rotateZ(-180deg) rotateY(90deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 5%); */
  25.1% {
    opacity: 0;
  }

  50% {
    border-bottom-color: #3e5eea;
    transform: rotateZ(-180deg) rotateY(180deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 12%); */
  74.9% {
    opacity: 0;
  }

  75% {
    border-bottom-color: #3e5eea;
    opacity: 1;
    transform: rotateZ(-180deg) rotateY(270deg) rotateX(30deg);
  }

  /* border-bottom-color: darken($color; 15%); */
  100% {
    border-bottom-color: #7a90f0;
    transform: rotateZ(-180deg) rotateY(360deg) rotateX(30deg);
  }

  /* border-bottom-color: lighten($color; 5%); */
}

.side-top,
.side-bottom {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-right: 58px solid transparent;
  border-bottom: 110px solid #647dee;
  border-left: 58px solid transparent;
  transform-origin: 50% 0;
}

.side-top {
  top: 0;
  animation: spin $ANIMATION_DURATION infinite linear;
}

.side-bottom {
  bottom: -50%;
  animation: spin-bottom $ANIMATION_DURATION infinite linear reverse;
}

.left {
  animation-delay: calc(-1 * $ANIMATION_DURATION * 0.75);
}

.back {
  animation-delay: calc(-1 * $ANIMATION_DURATION / 2);
}

.right {
  animation-delay: calc(-1 * $ANIMATION_DURATION / 4);
}

.highlight {
  position: absolute;
  width: 80%;
  height: 80%;
  background: var(--gradient-secondary);
  filter: blur(80px);
  transform: rotate(-45deg);

  @media (prefers-color-scheme: dark) {
    width: 150%;
    height: 150%;
    background: var(--gradient-primary);
    filter: blur(150px);
  }
}
