.wrapper {
  font-size: var(--font-size-subtitle);
  border-radius: var(--border-radius-2);
}

.loader-sizes {
  &_sm {
    min-width: 100px;
    height: 32px;
  }

  &_md {
    min-width: 120px;
    height: 36px;
  }
}

.inner {
  padding: 0 var(--space-3);
}
