
.variant {
  &_primary {
    fill: url(#lg-accent-light);
    @media (prefers-color-scheme: dark) { fill: url(#lg-accent-dark) }
  }
  &_background { fill: var(--color-on-background) }
  &_outline { fill: var(--color-on-outline) }
}

.size {
  &_sm { width: 24px; height: 24px }
  &_md { width: 48px; height: 48px }
  &_xl { width: 112px; height: 112px }
}
