@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.spinner {
  box-sizing: border-box;
  margin: auto;
  border-style: solid;
  border-color: transparent var(--color-secondary);
  border-radius: 50%;
  animation: spin 0.65s infinite linear;
}

.loader {
  display: flex;
  transform: translateZ(0);
  border-radius: 50%;
}

.variant {
  &_primary {
    border-right-color: var(--color-primary);
    border-left-color: var(--color-primary);
  }

  &_body {
    border-right-color: var(--color-dark-on-background);
    border-left-color: var(--color-dark-on-background);
  }
}

.size {
  &_sm {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  &_md {
    width: 44px;
    height: 44px;
    border-width: 3px;
  }
}
