.link {
  border-radius: var(--border-radius-1);
  color: var(--color-secondary);
  transition: color 100ms ease-out, border-color 100ms ease-out;

  &:active {
    color: var(--color-primary);
  }
}
