.wrapper {
  height: 100vh;
  padding: var(--space-3);
  text-align: center;
  overflow: hidden;
}

.bg-text {
  font-size: 120px;
  margin-bottom: 64px;
  position: relative;
  transform: rotate(4deg);
  font-weight: 700;
  z-index: -1;
}

.highlight {
  @media (prefers-color-scheme: dark) {
    position: absolute;
    background: var(--gradient-primary);
    width: 40vw;
    height: 100px;
    filter: blur(140px);
    z-index: -1;
  }
}

.description  {
  text-align: center;
  color: var(--color-on-outline);
}
