.wrapper {
  height: 100vh;
  padding: var(--space-3);
  text-align: center;
  overflow: hidden;
}

.bg-text {
  font-size: 200px;
  margin-bottom: 64px;
  position: relative;
  transform: rotate(4deg);
  font-weight: 700;
  z-index: -1;
}

.highlight {
  @media (prefers-color-scheme: dark) {
    position: absolute;
    width: 100%;
    height: 50%;
    background: var(--gradient-primary);
    filter: blur(120px);
    z-index: -1;
  }
}

.description {
  text-align: center;
  color: var(--color-on-outline);
}
