.wrapper {
  height: 100vh;
  padding: var(--space-3);
  text-align: center;
  overflow: hidden;
}

.bg-text {
  font-size: 200px;
  font-weight: 700;
  margin-bottom: 64px;
  position: relative;
  transform: rotate(4deg);
}

.description {
  text-align: center;
  color: var(--color-on-outline);
}
