.wrapper {
  display: inline-block;
}

.tag {
  all: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size-body);
  font-weight: 500;
}

.base {
  transition: background 100ms ease-out, box-shadow 100ms ease-out;

  &:hover {
    background: var(--color-surface);
    box-shadow: inset 0 0 0 var(--border-width-1) var(--color-outline);
  }

  &:active {
    background: var(--color-tertiary);
    box-shadow: inset 0 0 0 var(--border-width-1) var(--color-tertiary);
  }
}

.variant {
  &_contained {
    border: 0;
    background: var(--gradient-secondary);
    box-shadow: inset 0 0 0 var(--border-width-1) var(--color-primary);
    color: var(--color-dark-on-background);
    transition: filter 100ms ease;

    &:active { filter: brightness(0.8); }
  }

  &_contained-light {
    border: 0;
    background: var(--color-light-background);
    color: var(--color-light-on-background);
    transition: filter 100ms ease;

    &:active { filter: brightness(0.8); }
    &:focus-visible { outline-color: var(--color-light-background); }
  }

  &_outline {
    border: var(--border-width-1) solid var(--color-secondary);
    background: transparent;
    color: var(--color-secondary);
    transition: background 100ms ease;

    &:active { background: var(--color-tertiary); }
  }

  &_outline-light {
    border: var(--border-width-1) solid var(--color-dark-on-background);
    background: transparent;
    color: var(--color-dark-on-background);
    transition: filter 100ms ease;

    &:active { filter: brightness(0.8); }
    &:focus-visible { outline-color: var(--color-light-background); }
  }
}
